<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-4 col-12">
                    <div class="single-footer-caption">
                        <div class="single-footer-caption-item">
                            <div class="footer-logo">
                                <a href="#">
                                    <img src="assets/images/logo/footer-logo.webp" alt="photo">
                                </a>
                            </div>
                            <div class="footer-title">
                                <div class="footer-text">
                                    <p>Suscipit mauris pede for con sectetuer sodales adipisci for cursus fames lectus
                                        tempor da blandit gravida sodales Suscipit mauris pede for con sectetuer sodales
                                        adipisci for cursus fames lectus tempor da blandit gravida sodales Suscipit
                                        mauris pede for sectetuer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 col-6">
                    <div class="single-footer-caption">
                        <div class="footer-title-news">
                            <h4>Newsletter</h4>
                            <p>Heaven fruitful doesn't over les idays appear creeping</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="single-footer-caption">
                        <div class="footer-social">
                            <h3>Contact Us</h3>
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            +994 12 123 45 67
                                        </a>
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        Suscipit mauris pede for con sectetuer sodales
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            ali-shirinov@hotmail.com
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-border">
                <div class="footer-copy-right">
                    <p>Copyright &copy 2021 All rights reserved | This template is made with by Ali Shirinov</p>
                </div>
            </div>
        </div>
    </div>
</footer>