<section id="top-news">
    <div class="container">
        <div class="top-news-main">
            <div class="top-news-title">
                <div class="row">
                    <div class="top-news-head col-12">
                        <h1>weekly top news</h1>
                    </div>
                </div>
            </div>
            <div class="single-top-news">
                <div class="row">
                    <div class="single-top-news-item col-md-4 col-12">
                        <div class="single-top-news-img">
                            <img src="assets/images/top-news/stop-1.webp" alt="photo">
                        </div>
                        <div class="caption">
                            <span>strike</span>
                            <h4>
                                <a href="#">
                                    Welcome To The Best Model Winner Contest
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="single-top-news-item col-md-4 col-12">
                        <div class="single-top-news-img">
                            <img src="assets/images/top-news/stop-1.webp" alt="photo">
                        </div>
                        <div class="caption">
                            <span>strike</span>
                            <h4>
                                <a href="#">
                                    Welcome To The Best Model Winner Contest
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="single-top-news-item col-md-4 col-12">
                        <div class="single-top-news-img">
                            <img src="assets/images/top-news/stop-1.webp" alt="photo">
                        </div>
                        <div class="caption">
                            <span>strike</span>
                            <h4>
                                <a href="#">
                                    Welcome To The Best Model Winner Contest
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>