<section class="trending-area" id="trending-area">
    <div class="container">
        <div class="trending-main">
            <div class="trending-top mb-5">
                <div class="row">
                    <div class="col-12 trending-item">
                        <div class="trending-title d-flex">
                            <div class="trending-button">
                                <span>Trending now</span>
                            </div>
                            <div class="trending-text">
                                <p class="line-1 anim-typewriter">Bangladesh dolor sit amet, consectetur adipisicing
                                    elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trending-bottom">
                <div class="row">
                    <div class="col-lg-8 trending-left">
                        <div class="tr-left-main">
                            <div class="tr-img">
                                <img src="assets/images/trending/trending-1.webp" alt="photo">
                            </div>
                            <div class="tr-left-title">
                                <span>APPETIZERS</span>
                                <h2>
                                    <a href="#">
                                        Welcome To The Best Model Winner <br>
                                        Contest At Look of the year
                                    </a>
                                </h2>
                            </div>
                        </div>
                        <div class="tr-left-bottom">
                            <div class="row">
                                <div class="col-lg-4 single-trending">
                                    <div class="single-trending-item">
                                        <div class="single-trending-top mb-3">
                                            <img src="assets/images/trending/single-1.webp" alt="photo">
                                        </div>
                                        <div class="single-trending-bottom">
                                            <span>Lifestyle</span>
                                            <h4 class="mt-3">
                                                <a href="#">
                                                    Get the Illusion of Fuller Lashes by “Mascng.”
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 single-trending">
                                    <div class="single-trending-item">
                                        <div class="single-trending-top  mb-3">
                                            <img src="assets/images/trending/single-2.webp" alt="photo">
                                        </div>
                                        <div class="single-trending-bottom">
                                            <span>Lifestyle</span>
                                            <h4 class="mt-3">
                                                <a href="#">
                                                    Get the Illusion of Fuller Lashes by “Mascng.”
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 single-trending">
                                    <div class="single-trending-item">
                                        <div class="single-trending-top  mb-3">
                                            <img src="assets/images/trending/single-2.webp" alt="photo">
                                        </div>
                                        <div class="single-trending-bottom">
                                            <span>Lifestyle</span>
                                            <h4 class="mt-3">
                                                <a href="#">
                                                    Get the Illusion of Fuller Lashes by “Mascng.”
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 trending-right">
                        <div class="tr-right-item">
                            <div class="tr-right-single d-flex">
                                <div class="tr-right-single-img">
                                    <img src="assets/images/trending/right-1.webp" alt="photo">
                                </div>
                                <div class="tr-right-single-title">
                                    <span>Concert</span>
                                    <h4 class="mt-3">
                                        <a href="#">
                                            Welcome To The Best Model Winner Contest
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="tr-right-single d-flex">
                                <div class="tr-right-single-img">
                                    <img src="assets/images/trending/right-2.webp" alt="photo">
                                </div>
                                <div class="tr-right-single-title">
                                    <span>Concert</span>
                                    <h4 class="mt-3">
                                        <a href="#">
                                            Welcome To The Best Model Winner Contest
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="tr-right-single d-flex">
                                <div class="tr-right-single-img">
                                    <img src="assets/images/trending/right-3.webp" alt="photo">
                                </div>
                                <div class="tr-right-single-title">
                                    <span>Concert</span>
                                    <h4 class="mt-3">
                                        <a href="#">
                                            Welcome To The Best Model Winner Contest
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="tr-right-single d-flex">
                                <div class="tr-right-single-img">
                                    <img src="assets/images/trending/right-4.webp" alt="photo">
                                </div>
                                <div class="tr-right-single-title">
                                    <span>Concert</span>
                                    <h4 class="mt-3">
                                        <a href="#">
                                            Welcome To The Best Model Winner Contest
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="tr-right-single d-flex">
                                <div class="tr-right-single-img">
                                    <img src="assets/images/trending/right-5.webp" alt="photo">
                                </div>
                                <div class="tr-right-single-title">
                                    <span>Concert</span>
                                    <h4 class="mt-3">
                                        <a href="#">
                                            Welcome To The Best Model Winner Contest
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>