<section id="all-news">
    <div class="container">
        <div class="all-news-title">
            <div class="row">
                <div class="all-news-text col-md-3 col-12">
                    <h1>whats news</h1>
                </div>
                <div class="all-news-nav col-md-9 col-12">
                    <nav>
                        <ul class="d-flex justify-content-center align-items-center">
                            <li class="active"><a href="#">All</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">Technology</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="all-news-single">
            <div class="row">
                <div class="all-news-single-item col-lg-4 col-6">
                    <div class="all-news-single-item-photo">
                        <img src="assets/images/all-news/all-1.webp" alt="photo">
                    </div>
                    <div class="caption">
                        <span>strike</span>
                        <h4>
                            <a href="#">
                                Welcome To The Best Model Winner Contest
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="all-news-single-item col-lg-4 col-6">
                    <div class="all-news-single-item-photo">
                        <img src="assets/images/all-news/all-1.webp" alt="photo">
                    </div>
                    <div class="caption">
                        <span>strike</span>
                        <h4>
                            <a href="#">
                                Welcome To The Best Model Winner Contest
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="all-news-single-item col-lg-4 col-6">
                    <div class="all-news-single-item-photo">
                        <img src="assets/images/all-news/all-1.webp" alt="photo">
                    </div>
                    <div class="caption">
                        <span>strike</span>
                        <h4>
                            <a href="#">
                                Welcome To The Best Model Winner Contest
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="all-news-single-item col-lg-4 col-6">
                    <div class="all-news-single-item-photo">
                        <img src="assets/images/all-news/all-1.webp" alt="photo">
                    </div>
                    <div class="caption">
                        <span>strike</span>
                        <h4>
                            <a href="#">
                                Welcome To The Best Model Winner Contest
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="all-news-single-item col-lg-4 col-6">
                    <div class="all-news-single-item-photo">
                        <img src="assets/images/all-news/all-1.webp" alt="photo">
                    </div>
                    <div class="caption">
                        <span>strike</span>
                        <h4>
                            <a href="#">
                                Welcome To The Best Model Winner Contest
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="all-news-single-item col-lg-4 col-6">
                    <div class="all-news-single-item-photo">
                        <img src="assets/images/all-news/all-1.webp" alt="photo">
                    </div>
                    <div class="caption">
                        <span>strike</span>
                        <h4>
                            <a href="#">
                                Welcome To The Best Model Winner Contest
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>